{% extends './base.html' %}

{% block tittle %} Sign In {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<form class="form-singin" action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Sign In</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="user" name="user" placeholder="name@example.com" minlength="10"required autofocus>
      <label for="user">Email address</label>
    </div>
    <br />
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="4">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>

{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock %}

{% endblock %}
